{% for chapter in documentation.chapters %}
{% if chapter.title == extra.title %}
---
title: "{{chapter.title}}"
draft: false
weight: {{loop.index}}
---

{{chapter.text|ei_escape_names}}

{% endif %}
{% endfor %}

